@import url("https://fonts.googleapis.com/css?family=Courgette");

body {
    height: 80vh;
    width: 100%;
    background: #33a1ff;
}

nav {
    background: #e34444;
    position: sticky;
    top: 0;
    z-index: 1069;
    margin-bottom: 20px;
}

a {
    color: white;
}

nav .img {
    width: 90px;
    height: auto;
    margin: -25px 20px -25px -5px !important;

}
main {
 margin: 0rem 5rem 0rem 5rem ;   
}

.btn-icon{
    width: auto;
    height: 50vh;
    max-height: 50vh;
}
.blue-tx{
color: #33a1ff;
}
.card{
    border-radius: 50px;
    border-color: transparent;
}
.icon-btn{
    height: 170px;
    width: auto;
    margin: 5% 0% 5% 25%;
}